;--------------------------------------------------------------------------------------------------------
;Stripper by GFL, fix by Walderr
;--------------------------------------------------------------------------------------------------------

;----------
;Облегчает убийство босса - губки
;----------
modify:
{
	match:
	{
		"targetname" "kostka_boss_start"
	}
	delete:
	{
		"OnTrigger" "kostka_boss_hitboxAddOutputOnHealthChanged kostka_hp:subtract:1:0:-10-1"
	}
	insert:
	{
		"OnTrigger" "kostka_boss_hitbox,AddOutput,OnHealthChanged kostka_hp:subtract:1.65:0:-1,0,-1"
	}
}

;----------
;Исправляет неправильное время таймеров в сообщениях карты
;----------
modify:
{
	match:
	{
		"targetname" "skrin_trigger_1"
	}
	delete:
	{
		"OnStartTouch" "consolaCommandsay Resist for 25 seconds.01"
	}
	insert:
	{
		"OnStartTouch" "consolaCommandsay Resist for 30 seconds.01"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"hammerid" "496601"
	}
	delete:
	{
		"OnStartTouch" "consolaCommandsay Resist for 20 seconds.01"
	}
	insert:
	{
		"OnStartTouch" "consolaCommandsay Resist for 25 seconds.01"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"hammerid" "567231"
	}
	delete:
	{
		"OnStartTouch" "consolaCommandsay Resist for 25 seconds.01"
	}
	insert:
	{
		"OnStartTouch" "consolaCommandsay Resist for 30 seconds.01"
	}
}

modify:
{
	match:
	{
		"targetname" "lvl1_koskapada"
	}
	delete:
	{
		"OnStartTouch" "consolaCommandsay Hold here until something happens!01"
	}
	insert:
	{
		"OnStartTouch" "consolaCommandsay Hold here until the blue sponge drops, then get in the tub!01"
	}
}

;----------
;Изменяет скорость анимации спрайтов (которая не используется в мультиплеере) для оптимизации карты
;----------
modify:
{
	match:
	{
		"classname" "env_sprite"
	}
	replace:
	{
		"framerate" "0"
	}
}

;----------
;Замедляет ускорение зомби в трубе в начале 1 уровня
;----------
modify:
{
	match:
	{
		"classname" "trigger_push"
		"origin" "2892 10336 -4629"
		"speed" "250"
	}
	insert:
	{
		"filtername" "lide"
	}
}

add:
{
	"model" "*123"
	"StartDisabled" "0"
	"speed" "70"
	"spawnflags" "1"
	"pushdir" "0 180 0"
	"origin" "2892 10336 -4629"
	"alternateticksfix" "0"
	"classname" "trigger_push"
	"filtername" "zombi"
}

;----------
;Исправление сильных лагов когда игроки наступают на кран в начале 2 уровня
;----------
modify:
{
	match:
	{
		"hammerid" "709034"
	}
	replace:
	{
		"solid" "0"
	}
}
