;фикс недосчета босса в коцне хп
modify:
{
	match:
	{
		"classname" "game_zone_player"
		"targetname" "playercount1"
	}
	delete:
	{
		"OnPlayerInZone" "BossHeadfinalAddHealth40001"
		"OnPlayerInZone" "BossheadbeginAddHealth40001"
		"OnPlayerInZone" "BossheadfirstAddHealth20001"
		"OnPlayerInZone" "BossheadsecondAddHealth40001"
	}
	insert:
	{
		"OnPlayerInZone" "BossHeadfinalAddHealth4000-1"
		"OnPlayerInZone" "BossheadbeginAddHealth4000-1"
		"OnPlayerInZone" "BossheadfirstAddHealth2000-1"
		"OnPlayerInZone" "BossheadsecondAddHealth4000-1"
	}
}

;убираются сломаные индикаторы айтемов
modify:
{
	match:
	{
		"classname" "point_template"
		"targetname" "templateBerserk"
	}
	delete:
	{
		"Template01" "berserk_fade"
	}
}
modify:
{
	match:
	{
		"classname" "point_template"
		"targetname" "templateMegasphere"
	}
	delete:
	{
		"Template01" "megasphere_fade"
	}
}
modify:
{
	match:
	{
		"classname" "point_template"
		"targetname" "templateSoulsphere1"
	}
	delete:
	{
		"Template02" "soulsphere_fade"
	}
}
modify:
{
	match:
	{
		"classname" "point_template"
		"targetname" "templateSoulsphere2"
	}
	delete:
	{
		"Template01" "soulsphere_fade2"
	}
}
modify:
{
	match:
	{
		"classname" "point_template"
		"targetname" "templateSoulsphere3"
	}
	delete:
	{
		"Template01" "soulsphere_fade3"
	}
}
modify:
{
	match:
	{
		"classname" "filter_activator_name"
		"targetname" "berserker_owner"
	}
	delete:
	{
		"OnPass" "berserk_fadeAlpha640.251"
		"OnPass" "berserk_fadeAlpha1280.51"
		"OnPass" "berserk_fadeAlpha1960.751"
		"OnPass" "berserk_fadeAlpha25511"
		"OnPass" "berserk_fadeAlpha19614.251"
		"OnPass" "berserk_fadeAlpha12814.51"
		"OnPass" "berserk_fadeAlpha6414.751"
		"OnPass" "berserk_fadeAlpha0151"
	}
}
modify:
{
	match:
	{
		"classname" "filter_activator_name"
		"targetname" "megasphere_owner"
	}
	delete:
	{
		"OnPass" "megasphere_fadeAlpha640.251"
		"OnPass" "megasphere_fadeAlpha1280.51"
		"OnPass" "megasphere_fadeAlpha1960.751"
		"OnPass" "megasphere_fadeAlpha25511"
		"OnPass" "megasphere_fadeAlpha19634.251"
		"OnPass" "megasphere_fadeAlpha12834.51"
		"OnPass" "megasphere_fadeAlpha6434.751"
		"OnPass" "megasphere_fadeAlpha0351"
	}
}
modify:
{
	match:
	{
		"classname" "filter_activator_name"
		"targetname" "soulsphere_owner1"
	}
	delete:
	{
		"OnPass" "soulsphere_fadeAlpha640.251"
		"OnPass" "soulsphere_fadeAlpha1280.51"
		"OnPass" "soulsphere_fadeAlpha1960.751"
		"OnPass" "soulsphere_fadeAlpha25511"
		"OnPass" "soulsphere_fadeAlpha1964.251"
		"OnPass" "soulsphere_fadeAlpha1284.51"
		"OnPass" "soulsphere_fadeAlpha644.751"
		"OnPass" "soulsphere_fadeAlpha051"
	}
}
modify:
{
	match:
	{
		"classname" "filter_activator_name"
		"targetname" "soulsphere_owner1_2"
	}
	delete:
	{
		"OnPass" "soulsphere_fadeAlpha640.251"
		"OnPass" "soulsphere_fadeAlpha1280.51"
		"OnPass" "soulsphere_fadeAlpha1960.751"
		"OnPass" "soulsphere_fadeAlpha25511"
		"OnPass" "soulsphere_fadeAlpha19624.251"
		"OnPass" "soulsphere_fadeAlpha12824.51"
		"OnPass" "soulsphere_fadeAlpha6424.751"
		"OnPass" "soulsphere_fadeAlpha0251"
	}
}
modify:
{
	match:
	{
		"classname" "filter_activator_name"
		"targetname" "soulsphere_owner2_1"
	}
	delete:
	{
		"OnPass" "soulsphere_fade2Alpha640.251"
		"OnPass" "soulsphere_fade2Alpha1280.51"
		"OnPass" "soulsphere_fade2Alpha1960.751"
		"OnPass" "soulsphere_fade2Alpha25511"
		"OnPass" "soulsphere_fade2Alpha1964.251"
		"OnPass" "soulsphere_fade2Alpha1284.51"
		"OnPass" "soulsphere_fade2Alpha644.751"
		"OnPass" "soulsphere_fade2Alpha051"
	}
}
modify:
{
	match:
	{
		"classname" "filter_activator_name"
		"targetname" "soulsphere_owner2_2"
	}
	delete:
	{
		"OnPass" "soulsphere_fade2Alpha640.251"
		"OnPass" "soulsphere_fade2Alpha1280.51"
		"OnPass" "soulsphere_fade2Alpha1960.751"
		"OnPass" "soulsphere_fade2Alpha25511"
		"OnPass" "soulsphere_fade2Alpha19624.251"
		"OnPass" "soulsphere_fade2Alpha12824.51"
		"OnPass" "soulsphere_fade2Alpha6424.751"
		"OnPass" "soulsphere_fade2Alpha0251"
	}
}
modify:
{
	match:
	{
		"classname" "filter_activator_name"
		"targetname" "soulsphere_owner3_1"
	}
	delete:
	{
		"OnPass" "soulsphere_fade3Alpha640.251"
		"OnPass" "soulsphere_fade3Alpha1280.51"
		"OnPass" "soulsphere_fade3Alpha1960.751"
		"OnPass" "soulsphere_fade3Alpha25511"
		"OnPass" "soulsphere_fade3Alpha1964.251"
		"OnPass" "soulsphere_fade3Alpha1284.51"
		"OnPass" "soulsphere_fade3Alpha644.751"
		"OnPass" "soulsphere_fade3Alpha051"
	}
}
modify:
{
	match:
	{
		"classname" "filter_activator_name"
		"targetname" "soulsphere_owner3_2"
	}
	delete:
	{
		"OnPass" "soulsphere_fade3Alpha640.251"
		"OnPass" "soulsphere_fade3Alpha1280.51"
		"OnPass" "soulsphere_fade3Alpha1960.751"
		"OnPass" "soulsphere_fade3Alpha25511"
		"OnPass" "soulsphere_fade3Alpha19624.251"
		"OnPass" "soulsphere_fade3Alpha12824.51"
		"OnPass" "soulsphere_fade3Alpha6424.751"
		"OnPass" "soulsphere_fade3Alpha0251"
	}
}
filter:
{
	"targetname" "berserk_fade"
}
filter:
{
	"targetname" "megasphere_fade"
}
filter:
{
	"targetname" "soulsphere_fade"
}
filter:
{
	"targetname" "soulsphere_fade2"
}
filter:
{
	"targetname" "soulsphere_fade3"
}

;фикс секретки
modify:
{
	match:
	{
		"classname" "trigger_once"
		"model" "*162"
		"origin" "-0 3440 128"
		"hammerid" "2671"
	}
	delete:
	{
		"OnStartTouch" "button_secondKill201"
		"OnStartTouch" "button_firstKill201"
		"OnStartTouch" "button_finalKill201"
		"OnStartTouch" "teletosecretKill201"
	}
	insert:
	{
		"OnStartTouch" "button_second,Kill,,35,1"
		"OnStartTouch" "button_first,Kill,,35,1"
		"OnStartTouch" "button_final,Kill,,35,1"
		"OnStartTouch" "teletosecret,Kill,,35,1"
	}
}

;БФГ Ган фикс когда он багается
modify:
{
	match:
	{
		"targetname" "randomweapons"
		"classname" "logic_case"
	}
	delete:
	{
		"OnCase01" "bfgteleportTeleport01"
		"OnCase01" "templateBFGForceSpawn11"
	}
	insert:
	{
		"Case02" "2"
		"OnCase01" "!self,InValue,2,0,1"
	}
}

;Фикс последней платформы на ласт лвле когда она багалась
modify:
{
	match:
	{
		"classname" "func_tanktrain"
		"targetname" "boss_move"
		"spawnflags" "528"
	}
	replace:
	{
		"spawnflags" "530"
	}
}

;усложнение нпс и босса если больше 48 людей
modify:
{
	match:
	{
		"classname" "func_physbox_multiplayer"
		"targetname" "CacoDemonHitbox"
	}
	insert:
	{
		"OnHealthChanged" "CacoDemonHPRunScriptCodex<-null;c<-0;{foreach(e,_ in{player=0}){while(null!=(x=Entities.FindByClassname(x,e))){c++;}}}{if(c<48){foreach(s,_ in{Subtract=0}){EntFireByHandle(self,s,(350).tostring(),0.,self,self);}}}01"
		"OnHealthChanged" "CacoDemonHPRunScriptCodex<-null;c<-0;{foreach(e,_ in{player=0}){while(null!=(x=Entities.FindByClassname(x,e))){c++;}}}{if(c<32){foreach(s,_ in{Subtract=0}){EntFireByHandle(self,s,(175).tostring(),0.,self,self);}}}01"
		"OnHealthChanged" "CacoDemonHPRunScriptCodex<-null;c<-0;{foreach(e,_ in{player=0}){while(null!=(x=Entities.FindByClassname(x,e))){c++;}}}{if(c<24){foreach(s,_ in{Subtract=0}){EntFireByHandle(self,s,(88).tostring(),0.,self,self);}}}01"
	}
}

modify:
{
	match:
	{
		"classname" "func_physbox_multiplayer"
		"targetname" "DemonHitbox"
	}
	insert:
	{
		"OnHealthChanged" "DemonHPRunScriptCodex<-null;c<-0;{foreach(e,_ in{player=0}){while(null!=(x=Entities.FindByClassname(x,e))){c++;}}}{if(c<48){foreach(s,_ in{Subtract=0}){EntFireByHandle(self,s,(80).tostring(),0.,self,self);}}}01"
		"OnHealthChanged" "DemonHPRunScriptCodex<-null;c<-0;{foreach(e,_ in{player=0}){while(null!=(x=Entities.FindByClassname(x,e))){c++;}}}{if(c<32){foreach(s,_ in{Subtract=0}){EntFireByHandle(self,s,(40).tostring(),0.,self,self);}}}01"
		"OnHealthChanged" "DemonHPRunScriptCodex<-null;c<-0;{foreach(e,_ in{player=0}){while(null!=(x=Entities.FindByClassname(x,e))){c++;}}}{if(c<24){foreach(s,_ in{Subtract=0}){EntFireByHandle(self,s,(20).tostring(),0.,self,self);}}}01"
	}
}

modify:
{
	match:
	{
		"classname" "func_physbox_multiplayer"
		"targetname" "ImpHitbox"
	}
	insert:
	{
		"OnHealthChanged" "ImpHPRunScriptCodex<-null;c<-0;{foreach(e,_ in{player=0}){while(null!=(x=Entities.FindByClassname(x,e))){c++;}}}{if(c<48){foreach(s,_ in{Subtract=0}){EntFireByHandle(self,s,(64).tostring(),0.,self,self);}}}01"
		"OnHealthChanged" "ImpHPRunScriptCodex<-null;c<-0;{foreach(e,_ in{player=0}){while(null!=(x=Entities.FindByClassname(x,e))){c++;}}}{if(c<32){foreach(s,_ in{Subtract=0}){EntFireByHandle(self,s,(32).tostring(),0.,self,self);}}}01"
		"OnHealthChanged" "ImpHPRunScriptCodex<-null;c<-0;{foreach(e,_ in{player=0}){while(null!=(x=Entities.FindByClassname(x,e))){c++;}}}{if(c<24){foreach(s,_ in{Subtract=0}){EntFireByHandle(self,s,(16).tostring(),0.,self,self);}}}01"
	}
}

modify:
{
	match:
	{
		"classname" "func_physbox_multiplayer"
		"targetname" "LostSoulHitbox"
	}
	insert:
	{
		"OnHealthChanged" "LostSoulHPRunScriptCodex<-null;c<-0;{foreach(e,_ in{player=0}){while(null!=(x=Entities.FindByClassname(x,e))){c++;}}}{if(c<48){foreach(s,_ in{Subtract=0}){EntFireByHandle(self,s,(38).tostring(),0.,self,self);}}}01"
		"OnHealthChanged" "LostSoulHPRunScriptCodex<-null;c<-0;{foreach(e,_ in{player=0}){while(null!=(x=Entities.FindByClassname(x,e))){c++;}}}{if(c<32){foreach(s,_ in{Subtract=0}){EntFireByHandle(self,s,(19).tostring(),0.,self,self);}}}01"
		"OnHealthChanged" "LostSoulHPRunScriptCodex<-null;c<-0;{foreach(e,_ in{player=0}){while(null!=(x=Entities.FindByClassname(x,e))){c++;}}}{if(c<24){foreach(s,_ in{Subtract=0}){EntFireByHandle(self,s,(10).tostring(),0.,self,self);}}}01"
	}
}

;фикс музыки.
modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "randommusiclvl1"
	}
	delete:
	{
		"OnTrigger" "song1PlaySound0-1"
	}
	insert:
	{
		"OnTrigger" "song1,PlaySound,,2,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "randommusiclvl2"
	}
	delete:
	{
		"OnTrigger" "song4PlaySound0-1"
	}
	insert:
	{
		"OnTrigger" "song4,PlaySound,,2,-1"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "randommusiclvl3"
	}
	delete:
	{
		"OnTrigger" "song7PlaySound01"
	}
	insert:
	{
		"OnTrigger" "song7,PlaySound,,2,-1"
	}
}

;авторство
modify:
{
	match:
	{
		"origin" "-0 3440 128"
	}
	delete:
	{
		"OnStartTouch" "commandsCommandsay ** Map by Night Fury **101"
	}
}

modify:
{
	match:
	{
		"origin" "-0 3440 128"
	}
	insert:
	{
		"OnStartTouch" "commandsCommandsay ** Map by Night Fury [FIX&EDIT BY AFRO]**101"
	}
}
