<<<<<<< HEAD
; Stripper by RedSnip (translated map)


add:
{
	"id" "1515102"
	"origin" "266 -88 560"
	"y" "0.165"
	"x" "-1"
	"targetname" "ItemTimer"
	"spawnflags" "1"
	"holdtime" "3"
	"fxtime" "0.5"
	"fadeout" "0"
	"fadein" "0"
	"effect" "2"
	"color2" "198 89 0"
	"color" "198 89 0"
	"channel" "4"
	"classname" "game_text"
}
=======
; Stripper by RedSnip (translate map)
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e

modify:
{
	match:
	{
		"classname" "logic_auto"
<<<<<<< HEAD
		"origin" "216 -216 560"
	}
	delete:
=======
	}
	delite:
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e
	{
		"OnMapSpawn" "consoleCommandsay Reference : SaGa frontier - Bioresearch Lab4-1"
	}
	insert:
	{
<<<<<<< HEAD
		"OnMapSpawn" "consoleCommandsay Translated : RedSnip4-1"
=======
		"OnMapSpawn" "consoleCommandsay Translate : RedSnip4-1"
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e
		"OnMapSpawn" "consoleCommandsay Reference : SaGa frontier - Bioresearch Lab5-1"
	}
}

modify:
{
	match:
	{
		"targetname" "[ZOMBIEITEM_Crimson]"
<<<<<<< HEAD
		"origin" "-14385.5 2447.08 53.6216"
	}
	delete:
=======
	}
	delite:
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e
	{
		"OnPlayerPickup" "stage_textRunScriptCodeZiteminfo02()01"
	}
	insert:
	{
<<<<<<< HEAD
		"OnPlayerPickup" "consoleCommandsay Zombie found Crimson Flare01"
		"OnPlayerPickup" "consoleCommandsay [Item effect]  Small damage / burn to enemies within range0.011"
		"OnPlayerPickup" "ItemTimerAddOutputmessage Zombie found Crimson Flare01"
		"OnPlayerPickup" "ItemTimerDisplay01"
=======
		"consoleCommandsay [Item acquisition] Zombie found Crimson Flare01"
		"consoleCommandsay [Item effect]  Small damage / burn to enemies within range01"
		"consoleCommandsay Zombie found Crimson Flare01"
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e
	}
}

modify:
{
	match:
	{
		"targetname" "[GAME_START]STAGE01"
	}
<<<<<<< HEAD
	delete:
=======
	delite:
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e
	{
		"OnStartTouch" "stage_textRunScriptCodeStorytext05()201"
		"OnStartTouch" "stage_textRunScriptCodeStorytext01()101"
	}
	insert:
	{
<<<<<<< HEAD
		"OnStartTouch" "consoleCommandsay [ HISTORY ]========================================201"
		"OnStartTouch" "consoleCommandsay Date created: June 4, 201920.011"
		"OnStartTouch" "consoleCommandsay Identification number: ZE-HM03/H 264-3220.021"
		"OnStartTouch" "consoleCommandsay Preliminary report: Successful examples of XM logic bombs and the process of destruction20.031"
		"OnStartTouch" "consoleCommandsay Threat level: Incoming deadly crash20.041"
		"OnStartTouch" "consoleCommandsay =================================================20.051"
		"OnStartTouch" "consoleCommandsay [ STORY ]==========================================101"
		"OnStartTouch" "consoleCommandsay Episode I: Bottomless Darkness10.011"
		"OnStartTouch" "consoleCommandsay Character: Players10.021"
		"OnStartTouch" "consoleCommandsay Location: A military facility on an abandoned island10.031"
		"OnStartTouch" "consoleCommandsay Mission: Explore the facility10.041"
		"OnStartTouch" "consoleCommandsay =================================================10.051"
=======
		"consoleCommandsay [ HISTORY ]========================================201"
		"consoleCommandsay Date created: June 4, 2019201"
		"consoleCommandsay Identification number: ZE-HM03/H 264-32201"
		"consoleCommandsay Preliminary report: Successful examples of XM logic bombs and the process of destruction201"
		"consoleCommandsay Threat level: Later changed to deadly crash201"
		"consoleCommandsay =================================================201"
		"consoleCommandsay [ STORY ]==========================================101"
		"consoleCommandsay Episode I: Bottomless Darkness101"
		"consoleCommandsay Character: Player101"
		"consoleCommandsay Location: A military facility on an abandoned island101"
		"consoleCommandsay Mission: Explore the facility101"
		"consoleCommandsay =================================================101"
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e
	}
}

modify:
{
	match:
	{
		"targetname" "[ITEM_Screw7]"
	}
<<<<<<< HEAD
	delete:
=======
	delite:
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e
	{
		"OnPlayerPickup" "stage_textRunScriptCodeHiteminfo02()01"
	}
	insert:
	{
<<<<<<< HEAD
		"OnPlayerPickup" "consoleCommandsay Human found a screw spear01"
		"OnPlayerPickup" "consoleCommandsay [Item effect]  Deals small damage and paralyzes the enemies within range0.011"
		"OnPlayerPickup" "ItemTimerAddOutputmessage Human found a screw spear01"
		"OnPlayerPickup" "ItemTimerDisplay01"
=======
		"consoleCommandsay [Item acquisition] Human found a screw spear01"
		"consoleCommandsay [Item effect]  Small damage / paralysis on enemies within range01"
		"consoleCommandsay Human found a screw spear01"
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e
	}
}

modify:
{
	match:
	{
		"targetname" "[ITEM_Aid]"
	}
<<<<<<< HEAD
	delete:
=======
	delite:
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e
	{
		"OnPlayerPickup" "stage_textRunScriptCodeHiteminfo01()01"
	}
	insert:
	{
<<<<<<< HEAD
		"OnPlayerPickup" "consoleCommandsay Human found first aid kit01"
		"OnPlayerPickup" "consoleCommandsay [Item effect]  Gives allies a health recovery within range 0.011"
		"OnPlayerPickup" "ItemTimerAddOutputmessage Human found a first aid kit01"
		"OnPlayerPickup" "ItemTimerDisplay01"
=======
		"consoleCommandsay [Item acquisition] Human found first aid kit01"
		"consoleCommandsay [Item effect]  Gives allies within range a health recovery01"
		"consoleCommandsay Human found a first aid kit01"
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e
	}
}

modify:
{
	match:
	{
		"targetname" "[SYSTEM]CARDKEY01_GUN"
	}
<<<<<<< HEAD
	delete:
=======
	delite:
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e
	{
		"OnPlayerPickup" "stage_textRunScriptCodeSystemiteminfo01()01"
	}
	insert:
	{
<<<<<<< HEAD
		"OnPlayerPickup" "consoleCommandsay Human found card key I01"
		"OnPlayerPickup" "ItemTimerAddOutputmessage Human found card key I01"
		"OnPlayerPickup" "ItemTimerDisplay01"
=======
		"consoleCommandsay [Item acquisition] Human found card key I01"
		"consoleCommandsay [Item effect]  Important item01"
		"consoleCommandsay Found card key I01"
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e
	}
}

modify:
{
	match:
	{
		"targetname" "[SYSTEM]CARDKEY02_GUN"
	}
<<<<<<< HEAD
	delete:
=======
	delite:
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e
	{
		"OnPlayerPickup" "stage_textRunScriptCodeSystemiteminfo02()01"
	}
	insert:
	{
<<<<<<< HEAD
		"OnPlayerPickup" "consoleCommandsay Human found card key II01"
		"OnPlayerPickup" "ItemTimerAddOutputmessage Human found card key II01"
		"OnPlayerPickup" "ItemTimerDisplay01"
	}
}
=======
		"consoleCommandsay [Item acquisition] Human found card key II01"
		"consoleCommandsay [Item effect]  Important item01"
		"consoleCommandsay Found card key II01"
	}
}

;	modify:
;	{
;		match:
;		{
;			"id" "83954"
;		}
;		delite:
;		{
;			"OnPressed" "stage_textRunScriptCodeHeaduptext01()301
;		}
;		insert:
;		{
;			"consoleCommandsay Find two card keys!301
;		}
;	}
>>>>>>> 56def8179a3b5d7052ff8552af9ea6f2dc3ba37e
