;добавляет таймер дефа после босса
modify:
{
	match:
	{
		"targetname" "Door5_Trigger"
		"classname" "trigger_once"
	}
	delete:
	{
		"OnStartTouch" "Map_CommandCommandsay >>>Hold Here for Long Ass Time<<<01"
	}
	insert:
	{
		"OnStartTouch" "Map_CommandCommandsay >>>Hold Here for 40 seconds<<<01"
	}
}
