;--------------------------------------------------------------------------------------------------------
;Stripper by Walderr
;--------------------------------------------------------------------------------------------------------

;-------------
;Исправляет мигающие таймеры и каналы геймтекста
;-------------
modify:
{
	match:
	{
		"targetname" "text_sec"
		"classname" "game_text"
	}
	replace:
	{
		"holdtime" "2.0"
		"fxtime" "1.0"
		"effect" "0"
		"channel" "4"
	}
}
modify:
{
	match:
	{
		"targetname" "text_seconds_left"
		"classname" "game_text"
	}
	replace:
	{
		"holdtime" "2.0"
		"fxtime" "1.0"
		"channel" "5"
	}
}

;фикс баганных атак босса (партиклей)
modify:
{
        match:
	{
	"targetname" "st3_boss_return_relay"
	"classname" "logic_relay"
	}
	delete:
	{
	"OnTrigger" "st3_boss_a_casePickRandomShuffle0-1"
	"OnTrigger" "st3_boss_killTrigger0-1"
	"OnTrigger" "st3_boss_return_relay2Trigger0-1"
	}
	insert:
	{
	"OnTrigger" "st3_boss_a_casePickRandomShuffle0.10-1"
	"OnTrigger" "st3_boss_killTrigger0.10-1"
	"OnTrigger" "st3_boss_return_relay2Trigger0.10-1"
	}
}
