;фикс засчета уровня если не задеф в конеч триггере
modify:
{
	match:
	{
		"classname" "logic_relay"
		"origin" "-1416 2376 108"
	}
	delete:
	{
		"OnTrigger" "LevelInputSetValue20-1"
		"OnTrigger" "level1_brushDisable0-1"
		"OnTrigger" "level3_brushDisable0-1"
		"OnTrigger" "cmdCommandsay >>>YOU REACH THE LAST COVER POINT NEXT ROUND WILL START AT LEVEL 2<<<101"
		"OnTrigger" "cmdCommandsay >>>YOU REACH THE LAST COVER POINT NEXT ROUND WILL START AT LEVEL 2<<<111"
		"OnTrigger" "cmdCommandsay >>>YOU REACH THE LAST COVER POINT NEXT ROUND WILL START AT LEVEL 2<<<121"
		"OnTrigger" "cmdCommandsay >>>YOU REACH THE LAST COVER POINT NEXT ROUND WILL START AT LEVEL 2<<<131"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"origin" "-2616 5244.5 1898"
	}
	insert:
	{
		"OnTrigger" "LevelInputSetValue20-1"
		"OnTrigger" "level1_brushDisable0-1"
		"OnTrigger" "level3_brushDisable0-1"
		"OnTrigger" "cmdCommandsay >>>1 LEVEL BEATED<<<11"
		"OnTrigger" "cmdCommandsay >>>1 LEVEL BEATED<<<21"
		"OnTrigger" "cmdCommandsay >>>1 LEVEL BEATED<<<31"
		"OnTrigger" "cmdCommandsay >>>1 LEVEL BEATED<<<41"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"origin" "-1480 2376 108"
	}
	delete:
	{
		"OnTrigger" "level1_brushDisable0-1"
		"OnTrigger" "level2_brushDisable0-1"
		"OnTrigger" "LevelInputSetValue30-1"
		"OnTrigger" "cmdCommandsay >>>YOU REACH THE LAST COVER POINT NEXT ROUND WILL START AT LEVEL 3<<<101"
		"OnTrigger" "cmdCommandsay >>>YOU REACH THE LAST COVER POINT NEXT ROUND WILL START AT LEVEL 3<<<111"
		"OnTrigger" "cmdCommandsay >>>YOU REACH THE LAST COVER POINT NEXT ROUND WILL START AT LEVEL 3<<<121"
		"OnTrigger" "cmdCommandsay >>>YOU REACH THE LAST COVER POINT NEXT ROUND WILL START AT LEVEL 3<<<131"
	}
	insert:
	{
		"filtername" "filtre_ct"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"origin" "-7567 7028.5 400"
	}
	insert:
	{
		"OnTrigger" "level1_brushDisable0-1"
		"OnTrigger" "level2_brushDisable0-1"
		"OnTrigger" "LevelInputSetValue30-1"
		"OnTrigger" "cmdCommandsay >>>2 LEVEL BEATED<<<11"
		"OnTrigger" "cmdCommandsay >>>2 LEVEL BEATED<<<21"
		"OnTrigger" "cmdCommandsay >>>2 LEVEL BEATED<<<31"
		"OnTrigger" "cmdCommandsay >>>2 LEVEL BEATED<<<41"
	}
}

modify:
{
	match:
	{
		"classname" "logic_relay"
		"origin" "-1544 2376 108"
	}
	delete:
	{
		"OnTrigger" "LevelInputSetValue10-1"
		"OnTrigger" "level2_brushDisable0-1"
		"OnTrigger" "level3_brushDisable0-1"
		"OnTrigger" "LevelExtremeEnable0-1"
		"OnTrigger" "cmdCommandsay >>>YOU REACH THE LAST COVER POINT NEXT ROUND WILL START AT LEVEL 1<<<101"
		"OnTrigger" "cmdCommandsay >>>YOU REACH THE LAST COVER POINT NEXT ROUND WILL START AT LEVEL 1<<<111"
		"OnTrigger" "cmdCommandsay >>>YOU REACH THE LAST COVER POINT NEXT ROUND WILL START AT LEVEL 1<<<121"
		"OnTrigger" "cmdCommandsay >>>YOU REACH THE LAST COVER POINT NEXT ROUND WILL START AT LEVEL 1<<<131"
		"OnTrigger" "relay_xtrem_finTrigger1-1"
		"OnTrigger" "level3_message_killTrigger101"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"origin" "-2616.5 2106.5 5345"
	}
	insert:
	{
		"OnTrigger" "LevelInputSetValue10-1"
		"OnTrigger" "level2_brushDisable0-1"
		"OnTrigger" "level3_brushDisable0-1"
		"OnTrigger" "LevelExtremeEnable0-1"
		"OnTrigger" "cmdCommandsay >>>3 LEVEL BEATED, EXTREME ACTIVATED<<<11"
		"OnTrigger" "cmdCommandsay >>>3 LEVEL BEATED, EXTREME ACTIVATED<<<21"
		"OnTrigger" "cmdCommandsay >>>3 LEVEL BEATED, EXTREME ACTIVATED<<<31"
		"OnTrigger" "cmdCommandsay >>>3 LEVEL BEATED, EXTREME ACTIVATED<<<41"
		"OnTrigger" "relay_xtrem_finTrigger1-1"
		"OnTrigger" "level3_message_killTrigger101"
	}
}

;больше дамага для убийства всех зомби в конце лвла
modify:
{
	match:
	{
		"classname" "trigger_hurt"
		"damage" "2500"
	}
	replace:
	{
		"damage" "99999999"
	}
}

;пуш на втором уровне сделан позднее по причинам легитности прохождения
modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "level2_path2"
	}
	delete:
	{
		"OnPass" "level2_etage13_pushDisable3-1"
	}
}

modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "level2_path7"
	}
	delete:
	{
		"OnPass" "level2_etage13_pushDisable3-1"
	}
}

modify:
{
	match:
	{
		"classname" "path_track"
		"targetname" "level2_path4"
	}
	insert:
	{
		"OnPass" "level2_etage13_push,Kill,,0,-1"
	}
}

;фикс звуков машин
filter:
{
	"classname" "ambient_generic"
	"message" "*sfx/car_alarm.wav"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "ambient_generic"
	"health" "10"
	"message" "ambient/misc/carhonk2.wav"
	"pitch" "100"
	"pitchstart" "100"
	"radius" "6400"
	"spawnflags" "48"
	"targetname" "CarAlarmSoundEffect"
}

add:
{
	"classname" "point_clientcommand"
	"targetname "client"
}

add:
{
	"classname" "logic_relay"
	"targetname" "CarAlarm"
	"spawnflags" "2"
	"OnSpawn" "CarAlarmSoundEffectRunScriptCodefunction s(){self.SetOrigin(activator.GetOrigin());}11"
	"OnSpawn" "CarAlarmSoundEffectRunScriptCodeforeach(f,_ in {OnUser1=0}){self.ConnectOutput(f, 's'.tochar());}1.021"
	"OnTrigger" "CarAlarmSoundEffect,FireUser1,,0,-1"
	"OnTrigger" "CarAlarmSoundEffect,FireUser1,,1,-1"
	"OnTrigger" "CarAlarmSoundEffect,FireUser1,,2,-1"
	"OnTrigger" "CarAlarmSoundEffect,PlaySound,,0.02,-1"
	"OnTrigger" "CarAlarmSoundEffect,PlaySound,,1,-1"
	"OnTrigger" "CarAlarmSoundEffect,PlaySound,,2,-1"
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "explo4_trigger_touche"
	}
	insert:
	{
		"OnStartTouch" "CarAlarm,Trigger,,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "explo4_trigger_touche"
	}
	insert:
	{
		"OnStartTouch" "CarAlarm,Trigger,,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "explo3_trigger_touche"
	}
	insert:
	{
		"OnStartTouch" "CarAlarm,Trigger,,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "explo2_trigger_touche"
	}
	insert:
	{
		"OnStartTouch" "CarAlarm,Trigger,,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_multiple"
		"targetname" "explo1_trigger_touche"
	}
	insert:
	{
		"OnStartTouch" "CarAlarm,Trigger,,0,-1"
	}
}
